name: Build to GHCR

run-name: "Build and push image for ${{ github.ref_name }} by ${{ github.actor }}"

on:
  push:
    branches:
      - main
    paths:
      - 'app/**'
      - '.github/workflows/build.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Run tests
      run: |
        echo "Тесты пока отключены. Возвращаем успешный статус."

  build:
    runs-on: ubuntu-latest
    needs: test
    env:
      IMAGE: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build and push image
      run: |
        docker build -t $IMAGE:latest ./app
        docker push $IMAGE:latest
